* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #181818;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe\ UI, Roboto, Helvetica\ Neue, Arial, Noto\ Sans, sans-serif;
    max-width: 1800px;

}

.sidebar_content {
    padding: 0 2rem;
    margin-top: -5rem;
}

.sidebar {
    background-color: #202020;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 5px 0 15px black;
}
.show-sidebar{
  transform: translateX(0%);
}
/*--------------------------------------*/

.header {
    width: calc(100% - 300px);
    height: 50px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 5px 22px black;
    display: flex;
}

.header_right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.header_left {
    width: 70%;
}

.search {
    background: #202020;
    padding: 1.5rem;
}

.search_input {
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: white;
    outline: 0;
    outline-offset: 0;
}

placholder {
    color: #000;
}

.nav_list {
    display: flex;
}

.nav_link {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: background-color .2s linear;
    padding: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.has-sibnav {
    text-align: center;
    width: 123px;
    position: relative;
}

.nav_link:hover {
    background-color: #3137C9;
}

.main {
    padding-top: 8rem;
    padding-left: 300px;

}

.main_conteiner {
    width: calc(100% - 100px);
    color: white;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
     min-width: 300px
}

.sidebar_header {
    height: 180px;
}

.img_h {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.img_vk {
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-left: -2rem;
}

.img_mail {
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-left: 3rem;
}

.profile_avatar {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #30d5c8;
    border-radius: 50%;
    margin-left: 2rem;
    position: relative;
}

.profile_name {
    color: white;
    font-style: 1.8rem;
    text-align: center;
    margin-bottom: .3rem;
}

.profile_prof {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.3rem;
}

.profile_text {
    padding: 3rem 0;
    margin: 3rem 0;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    border-top: 2px solid #1C1C1C;
    border-bottom: 2px solid #1C1C1C;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    background: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1.1em 2.1em;
    border-radius: 3em;
}

.sidebar_footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.btn--red {
    background-color: #ED3024;

}
.btn--red:hover {
        box-shadow: 0 7px 17px -10px red;
}
.btn--blue {
    background-color: #3137C9;
}
.btn--blue:hover {
    box-shadow: 0 7px 17px -10px blue;
}
li {
    list-style-type: none;
}


/*--------------------------------------*/

.subnav {
    display: none;
    background-color: #3137C9;
    border-radius: 0 0 5px 5px;
    padding-bottom: 2px;
}

.nav_item:hover .subnav {
    display: block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.sunbar_link {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin: 5px;
    width: 110px;
}

.sunbar_link:hover {
    text-decoration: underline;
}


/*--------------------------------------*/

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin: auto;
    margin-bottom: 3rem;
}

.stories_item {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 145px;
    box-shadow: 0 15px 25px black;
    z-index: 1;
}

.stories_item::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(000, 0, 0, 2) 10%, rgba(0, 0, 0, 0) 40%);
    z-index: 3;
}

.stories_foto {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.stories_tatle {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 0.4rem;
    font-size: 14px;
    line-height: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}


/*--------------------------------------*/

.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    border-color: #121212;
    box-shadow: 0 15px 25px black;
    border-radius: 5px;
    flex-shrink: 0;
}

.add-post__textarea {
    overflow: hidden;
    flex-grow: 1;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.5rem;
    color: white;
    font-family: inherit;
}

.add-post__form {
    display: flex;
    justify-content: flex-end;
}

.add-post-send {
    display: flex;
    height: 1.1rem;
    background: blue;
    border-radius: 50%;
    padding: 3px 5px;
}

.b-1 {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    align-items: center;
    flex-shrink: 0;
}

.b-2 {

    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: #3137C9;
    flex-shrink: 0;
}

.embed {
    min-height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}


/*--------------------------------------*/

.post {
    box-shadow: 0 15px 25px black;
    border-color: #121212;
    margin-bottom: 3rem;
    padding: 2.5rem;
    border-radius: 5px;
    overflow: hidden;


}

.post_heder {
    margin: -2.5rem -2.5rem 0;
}

.post-content {
    margin-bottom: 2rem;
}

.post_text {
    font-size: 1.4rem;
    color: #d2d2d2;
}

.post_data {
    color: #ED3024;
    line-height: 1.2rem;
    display: flex;
}

img {
    width: 100%;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.post-title {
    margin-bottom: 1.5rem;
}

.post-title:hover {
    text-decoration: underline;
    margin-bottom: 1.5rem;
}


/*--------------------------------------*/

.post_footer {
    justify-content: space-between;
    display: flex;
    line-height: 1.2rem;
    border-bottom: 1px solid #1c1c1c;
}

time:hover {
    text-decoration: underline;
}

.post_read {
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    right: 10px;
    color: #3137C9;

}


/*--------------------------------------*/

.pagination {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 8rem;
}

.pagination_item {
    margin: 0 0.5rem;
}

.pagination_link {
    line-height: 4rem;
    display: block;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 0 15px black;
}

.pagination_link:hover {
    background-color: #3137C9;
}


/*--------------------------------------*/

.post_action {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.post_action:hover {
    text-decoration: underline;
}

.post_data {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 1rem;
}

.share {
    margin-left: 1.5rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


/*--------------------------------------*/

p {
    margin-bottom: 2rem;
}

.relaterd {
    padding: 20px 0px;
    border-bottom: 1px solid #1c1c1c;
}

.relaterd__title {
    margin-bottom: 2.5rem;
}

.relaterd_list {
    display: flex;
    flex-wrap: wrap;
}

.relaterd_list-title {
    color: gold;
    font-size: 1.4rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.relaterd_list-title:hover {
    text-decoration: underline;
}

.relaterd_list-item {
    width: 50%;
    margin-bottom: 2.5rem;
}

.relaterd_list-date {
    color: #ED3024;
}


/*--------------------------------------*/

.comments {
    margin-top: 3rem;
}

.comments__title {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}

.form {}

.form_group {
    margin-bottom: 1.5rem;
}

.form_control {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-radius: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: white;
    resize: none;
    border-bottom: 1px solid #3f3f3f;
    height: 30px;
    padding: 0.5rem;
}

.form_control::placeholder {
    color: white, .2;
}

.btn-btn--blue {
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    background: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1.1em 2.1em;
    border-radius: 5px;
}


/*--------------------------------------*/

.coment {
    margin-top: 5rem;
}

.coment_item {}

.coment_header {
    display: flex;
    margin-bottom: 1.5rem;
}

.coment_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.coment_avtor {
    padding-left: 1.5rem;
    flex-grow: 1rem;
    font-size: 1.2rem;
}

.coment_name {
    color: white;
    font-weight: 500;
}

.coment_pubdate {
    color: #757575;
    font-weight: 500;
    padding-bottom: 10px;
}

.coment_text {
    padding-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.3;
    color: white;
}

.coment_repley {
    padding: 0;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: #3137C9;
    cursor: pointer;
}


/*--------------------------------------*/

.page_title {
    margin-bottom: 2.5rem;
}

.work {
    display: flex;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 0px 15px 25px black;
    border-radius: 5px;
    margin-bottom: 2.5rem;
}

.work_preview {
    max-width: 310px;
}

.work_preview_work {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work_title {
    font-size: 2.4rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.work_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 290px;
    height: 522px;
    padding: 2.5rem;
}

.work_description {
    color: #D2D2D2;
    font-size: 1.6rem;
    line-height: 1.68;
    font-weight: 300;
    margin-bottom: 3rem;
}

.tegs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.tegs_item {
    padding: 0.4rem 0.9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #EA8C1E;
    border-radius: 3px;
    text-align: center;
    line-height: 1.3;
    font-size: 1.1rem;
    color: white;
}

.btn-work-blue {
    border-radius: 3px;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 7px 17px -10px black;
}

.work_footer {
    margin-top: auto;
    text-align: right;
}


/*--------------------------------------*/

.cabinet {
    display: flex;
}

.cabinet_form {
    width: 34rem;
}

.btn-work-blue-prof {
    background-color: #3137C9;
    color: whitel font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: #3137C9;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    border-radius: 3px;
    border: none;
    margin-bottom: 2rem;
}

.cabinet_file {
    font-size: 1.4rem;
    color: #3137C9;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 100px;
}

.cabinet_file:hover {
    text-decoration: none;
}

.cabinet_avatar {
    display: block;
    flex-grow: 1;
    padding-left: 11rem;
}

.cabinet_avatar {
    margin-bottom: 1.5rem;
}

.cabinet_input {
    display: none;
}


/*--------------------------------------*/

.page_title_reg {
    text-align: center;
    margin-bottom: 2rem;
}

.form-auth {
    max-width: 28rem;
    margin: 0 auto;
}

.form_futer_signup {}

.form_footer-list {
    display: flex;
    margin-right: 1rem;
    font-size: 2rem;
}


/*--------------------------------------*/

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1010;
    background: rgba(000, 0, 0, 0.8);

}

.modal.show {
  display: flex;
}
.modal_content {
    position: relative;
    padding: 4rem;
    background-color: #202020;
    border-radius: 5px;
}

.modal_content-contact {
    position: relative;
    padding: 4rem 8rem;
    background-color: #202020;
    border-radius: 5px;
}

.modal_close {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: transform .2s linear;
}

.modal_close:hover {
    transform: rotate(90deg);
}

.modal_footer {
    display: flex;
    justify-content: center;
    color: #B2B2B2;
    font-size: 1.2rem;
}

.modal_footer_li {
    margin: 0 .5rem;
}

.stori{
  background: none;
}
/*--------------------------------------*/

.burger {
    display: none;
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.span_burger {
    display: block;
    background-color: white;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    border: none;
}


/*--------------------------------------*/

.mob-nav {
    display: none;
    flex-direction: column;
    margin-bottom: 2rem;
}


/*--------------------------------------*/

@media screen and (max-width: 991px) {
    .sidebar {
        top: 5.1rem;
        transform: translateX(-100%);
        transition: transform .5s linear;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform .5s linear;
        overflow: auto;

    }
}

@media screen and (max-width: 750px) {
    .mob-nav {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .burger {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .header_left {
        width: 30%;
    }
}

@media screen and (max-width: 991px) {
    .header_right {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .search {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .nav_item {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .main {
        padding-left: 0px;

    }
}
@media screen and (max-width: 991px) {
    .main_conteiner {
        padding: 1px;


    }
}

@media screen and (max-width: 750px) {
    .sidebar_header {
        height: 100px;
    }
}

@media screen and (max-width: 750px) {
    .profile {
        position: relative;
    }
}

@media screen and (max-width: 750px) {
    .profile_avatar {
        top: -2rem;
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 0;
        position: absolute;
    }
}

@media screen and (max-width: 750px) {
    .profile_prof {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 750px) {
    .profile_text {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .profile_name {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 750px) {
    .sidebar_content {
        margin-top: -30px;
    }
}
@media screen and (max-width: 750px) {
    .post_read {

    }
}
@media screen and (max-width: 750px) {
    .post_data-item {

    }
}

@media screen and (max-width: 750px) {
    .social {

    }
}
@media screen and (max-width: 750px) {
    .stories {
        grid-template-columns: 150px 150px 150px 150px;
        overflow: auto;
    }
}
@media screen and (max-width: 750px) {
    .post{
        padding: 10px;
    }
}
@media screen and (max-width: 750px) {
    .post_title{
        padding: 10px;
    }
}
@media screen and (max-width: 750px) {
    .nav_link{
        padding: 5px;
        font-size: 1rem;
    }
}


/*--------------------------------------*/
